.main-header {
  padding-block: 70px;

  & .main-nav {
    display: flex;
    justify-content: space-between;
    gap: 58px;

    color: #ffffff;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;

    & ul {
      display: flex;
      align-items: center;
      gap: 58px;
    }
  }
}
