* {
    box-sizing: border-box;
}

// html {}

body {
    font-size: 14px;
    font-family: OpenSans;
    margin: 0;
    background: $primary-clr2;
}

button {
    cursor: pointer;
    border: none;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
